@media screen and (max-width: 1024px) {
    /* General Section Padding */
    .header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .header.scrolled {
        padding: 10px 15px;
    }

     .firstSection, .secondSection, .thirdSection, .fourthSection, .contact {
        padding-left: 20px ;
        padding-right: 20px ;
    }

    /* 1. Hero Section */
    .logo{
        font-size: 19px;
    }

    .links a{
        padding: 0px 8px;
        font-size: 12px;
    }

    .heroWrapper {
        padding: 300px 30px 50px 30px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .heroText {
        margin-top: 200px;
    }

    .subTopic, .fullName {
        justify-content: center;
    }

    .heroImage {
        margin-bottom: 40px;
    }

    /* 2. Services Section */

    .secondSection{
        padding: 150px 20px 100px 20px;
    }

    .secondTitle {
        padding-left: 0;
        align-items: center;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .service-card {
       width: 500px;
    }

    /* 3. Portfolio Section */
   .thirdSection{
      padding: 150px 20px 100px 20px; 
   }

    /* 4. Work Experience Section */
    .fourthSection{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .works{
        margin-left: 0px;
        margin-top: 30px;
    }

    .atcAfrica, .sabo, .jojega{
        max-width: 120px;
        min-width: 120px;
        height: 20px;
        margin-top: 0px;
    }

    .companiesTitle{
        display: flex;
        flex-direction: row;
        align-items: center!important;
        gap: 30px;
        width: 100%;
        margin-top: 70px;
    }

    #Sabo{
        margin-top: 0px;
        transition: all 400ms ease-in-out;
    }

    .jojega span, .sabo span, .atcAfrica span{
       display: none;
    }

    /* 5. Contact Section */
    .contactMe {
        flex-direction: column-reverse;
        align-items: start;
        gap: 50px;
        padding-bottom: 30px;
    }

    .availability-card {
        width: 100%;
        box-sizing: border-box;
    }

    /* 6. Footer Refinement */
    .footer-divider {
        margin: 40px 20px 5px 20px;
    }
}

/* Extra small tablets / Large phones */
@media screen and (max-width: 768px) {
    .firstName, .lastName, .portfolioHeaderText h2 {
        font-size: 36px;
    }

}